beautifulsoup4==4.12.3
customtkinter==5.2.2
email_validator==2.1.1
google_api_python_client==2.132.0
moviepy==1.0.3
mutagen==1.47.0
pandas==2.2.2
Pillow==10.3.0
pygame==2.5.2
pyperclip==1.8.2
pytube==15.0.0
Requests==2.32.3
selenium==4.21.0
ttkbootstrap==1.10.1
yt_dlp==2024.5.27
